.modal-base-root {
  scroll-behavior: smooth;

  @media (max-width: 1023px) {
    width: 80% !important;
  }

  @media (max-width: 677px) {
    width: 95% !important;
  }
}

.modal-head {
  font-size: 1.5em;
}

.close-button {
  position: absolute !important;
  top: 0.5em;
  right: 0.5em;
}
