.file-name-container {
  min-height: 150px;
  text-align: center;

  .chosen-files-title {
    font-weight: bold;
    text-decoration: underline;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }

  .file-name {
    margin-bottom: .5rem;
  }
}

.text-upload-modal {
  max-width: 40em;
}

.text-upload-file-input {
  visibility: hidden;
  width: 0;
  height: 0;
}

.textfield-upload-component {
  cursor: pointer;
}

.textfield-upload-component.default-styles {
  display: grid;
  justify-content: end;
  padding: 0;
  margin-top: 10em;
  width: auto;

  & svg {
    margin: 0;
  }
}
