.tooltip-button {
  padding: 0 !important;
  cursor: help !important;

  .tooltip-icon {
    color: #3B3B3B;
    border: 2px solid #3B3B3B;
    border-radius: 12px;
    padding: 1px;
  }
}

.tooltip-button:focus {
  outline: none;
}

.tooltip-content a {
  color: #6ea8fe;
}

.tooltip-content a:hover {
  color: #8ab9ff;
}
