.corrector-input-wrapper {
  border: 1px solid rgba(0, 0, 0, 0.23);
  border-radius: 0.5rem;
  overflow: hidden;
  transition: border-color 0.2s;
}

.corrector-input-wrapper:hover {
  border-color: rgba(0, 0, 0, 0.87);
}

.corrector-input-wrapper:focus-within,
.corrector-input-wrapper:focus-within:hover {
  border-color: #9C27B0;
  border-width: 1px;
}

.ProseMirror {
  flex: 1;
  background: #fff;
  font-size: 1rem;
  color: black;
  text-align: left;
  height: 400px;
  overflow-y: auto;
  padding-left: 0.2rem;
  white-space: normal !important;
  word-break: break-word !important;
}

.ProseMirror.ProseMirror-focused,
.ProseMirror.ProseMirror-focused:hover {
  outline: none;
}

.corrector-input-icon-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.25rem;
  padding: 0.3rem 0.5rem;
  border-bottom: 1px solid #e0e0e0;
  background: rgba(255, 255, 255);
  color: #666;
  transition: color 0.2s;
}

.corrector-input-icon-bar .container {
  width: auto;
  max-width: none;
  padding: 0;
  margin: 0;
}

.markup-error {
  border: 2px solid var(--purple);
  border-radius: 0.5rem;
  margin: 2rem 0;
  position: relative;
}

.mark-view-content-wrapper {
  border-radius: 0.2rem;
  padding: 0 0.2rem;
  cursor: pointer;
}

.mark-view-content-wrapper:hover {
  filter: brightness(1.1);
}

.markup-component-content {
  cursor: pointer;
}

.corrector-input-icon-button {
  all: unset;
}

.corrector-input-icon-button:hover {
  color: #9c27b0;
}
