.wordcontext-app {
  .MuiFormControl-root {
    max-width: 400px;
  }

  .keyword {
    color: red !important;
    border-right: 0 !important;
    border-left: 0 !important;
  }

  .context-before {
    border-right: 0 !important;
  }

  .context-after {
    border-left: 0 !important;
  }
}
