.wordcontext-keyword {
  color: red;
  border-right: 0 !important;
  border-left: 0 !important;
}

.wordcontext-context-before {
  border-right: 0 !important;
}

.wordcontext-context-after {
  border-left: 0 !important;
}
