.tool-page-wrapper {
  display: flex;
  justify-content: center;
}

.tool-page-inner-wrapper {
  width: 100%;
}

.tool-intro-container {
  max-width: 590px;
  margin: auto auto 10px;
}

.tool-card-container {
  height: 200px;
  border-radius: 20px;
  margin: auto auto 10px;
  display: flex;
  border: solid 2px rgba(156, 39, 176, 1);
}

.tool-card-icon {
  padding: 10px;
  height: 100%;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tool-card-text {
  padding: 10px;
  height: 100%;
  width: 60%;
  display: flex;
  align-items: center;
  font-size: 1.2em
}

.tool-icon-img {
  height: 80%;
}

@media (max-width: 600px) {
  .tool-card-container {
    flex-direction: column;
    height: auto;
    text-align: center;
  }

  .tool-card-icon,
  .tool-card-text {
    width: 100%;
    justify-content: center;
  }
}

.tool-title {
  text-align: center;
  padding-bottom: 2vh;
}

.tool-drawer-icon {
  height: 30px;
  width: 30px;
  filter: grayscale(100%);
  mix-blend-mode: multiply;
  clip-path: inset(2px 1px 2px 2px);
}

.tool-inline-textfield {
  width: 65px;

  .MuiInputBase-root {
    margin-bottom: 0 !important;
  }
}

.tool-inline-select {
  margin-bottom: 0 !important;
}
